form {
  width: 50%;
  margin: 0 auto;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.form-group select {

  width: 178px;
}

.form-group button {
  background: none;
  border: 1px solid black;
  box-shadow: 3px 3px 0px 0px black;
  margin: 0.5rem;
  font-size: 18px;
  cursor: pointer;
}

.form-group button.border-none {
  border: none;
  box-shadow: none;
}

@media screen and (max-width:768px) {
  form {
    width: 80%;
  }
}